
.message-input-container {
    position: fixed;
    bottom: 58px;
    display: flex;
    justify-content: space-around;
    min-width: 360px;
  }
  
  .message-input-div{
    width: 78%;
    
  }

  .message-input{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 40px;
    border: 2px solid #393939;
    font-family: poppinsLight;
  }

  .send-message{
    width: 17%;
    height: 40;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    font-family: poppinsLight;
    color: #f1f2f8;
    background-color: #393939;
    margin-right: 2%;
    margin-left: 2%;
  }
  