/* The styles to all pages */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  
}

body {
  background-color: #f1f2f8
}

@font-face {
  font-family: poppinsBlack;
  src: url(./res/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: poppinsLight;
  src: url(./res/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: poppinsLight;
  src: url(./res/Poppins/Poppins-Light.ttf);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 150pt;
  
}

/* .container {
  margin: 1rem;
  text-align: center;
} */

.navbar {
  min-width: 200px;
  width: 100%;
  height: 50px;
  background-color: #f1f2f8;
  display: flex;
  position: fixed;
  bottom: 0;
  border-top: 2px solid #484543  ;
}

.menu-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  
}

.menu-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50px;
}

.navBarLink {
  font-weight: 700;
  font-family: poppinsLight;
  margin-top: auto;
  padding: 10px;
  color: #484543;
  text-decoration: none;
  border-radius: 25px;
}

.navBarLink:hover {
  color: #f1f2f8;
  background-color:#484543;
}

.itemName {
  font-family: poppinsBlack;
}
.itemInfoLine {
  font-family: poppinsLight;
}

.itemInfo {
  margin-left: 6%;
}

.userFormLine {
  font-family: poppinsLight;
  margin-right: 5%;
}

.pageTitle {
  font-family: poppinsBlack;
}

.message-list-container {
  margin-bottom: 16px;
  flex: 1;
}

.message-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message {
  max-width: 70%;
  padding: 8px 16px;
  margin-bottom: 8px;
  background: #EEEEEE;
  border-radius: 20px;
  text-align: left;
  -webkit-text-fill-color: #393939;
  
}

.own-message {
  background: #393939;
  align-self: flex-end;
  text-align: right;
  -webkit-text-fill-color: white;
}


.message-input-container {
  display: flex;
  gap: 4px;
}

.message-input{
  position: fixed;
  display: flex;
  bottom: 10%;
  width: 80%;
  flex:2;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 40px
}

.send-message{
  position: fixed;
  display: flex;
  bottom: 10%;
  width: 10%;
  box-sizing: border-box;
  border-radius: 40px
}

.heading{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
}
