/* The styles to all pages */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
  
}

body {
  background-color: #fff;
}

@font-face {
  font-family: poppinsBlack;
  src: url(./res/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: poppinsLight;
  src: url(./res/Poppins/Poppins-Light.ttf);
}

.message-list-container{
	display: flex;
}


.container {
  margin: 1rem;
  /* text-align: center; */
  margin-bottom:120px;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: #f1f2f8;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 2px solid #484543  ;
}

.menu-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.menu-item {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 5px 0 5px ;
  height: 40px;
}

.navBarLink {  
  white-space: nowrap;
  font-weight: 700;
  font-family: poppinsLight;
  margin-top: auto;
  color: #484543;
  text-decoration: none;
  border-radius: 25px;
}

.navBarLink:hover, .menu-item:hover {
  border-radius: 12px;
  color: #f1f2f8;
  background-color:#484543;
}

.listItem {
  /* border:1px solid #777; */
  border-radius: 2%;
  display: inherit !important;
  box-sizing:border-box;
   padding:0px 10px !important;
  
}
.listBox{
	display: flex;
	 flex-wrap: wrap;
}

.noLink {
  text-decoration: none;
  color: #484543;
  /* display: flex; */
  width: 50%;
  /* border: 1px solid red; */
  padding:0 !important;
}
.center {
	/* border:1px solid red; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
 /* width: 50%;
  max-width: 150pt; */
  
}
.itemName {
  font-family: poppinsBlack;
  font-size: 16px;
}
.offerBox{
	/* border:1px solid red; */
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:1rem 0;
}
.offer-price{
	font-size:.8rem;
}
.offerBox .offer-left{text-align:left;max-width:80%;font-size:.24rem;color:#666;}

.itemInfoLine {
  font-family: poppinsLight;
  text-align:left;
  font-size: .24rem;
  color:#444;
}
.Discription{
	font-family: poppinsLight;
	text-align:left;
	font-size:14px;
	font-weight:600;
	padding:10px 0px;
}

.itemInfo {
  margin-left: 6%;
}

.userFormLine {
  font-family: poppinsLight;
  margin-right: 5%;
}

.pageTitle {
  font-family: poppinsBlack;
}

.css-wmy1p7-ReactDropdownSelect{
  border-radius: 10px !important;
}


.css-1yc4zyy-DropdownHandleComponent svg{
  color: #ccc;
}

.index-inputbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.message {
  max-width: 70%;
  padding: 20px 20px;
  margin-bottom: 8px;
  background: #EEEEEE;
  border-radius: 20px;
  text-align: left;
  -webkit-text-fill-color: #393939;
  
}

.index-in-right{
  width: calc(100% - 45px);
}

.uploadImgBox{
  display: flex;
  flex-wrap: wrap;
}

.message-input{
  position: fixed;
  display: flex;
  bottom: 10%;
  width: 80%;
  flex:11;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 40px;
}

.send-message{
  position: fixed;
  display: flex;
  bottom: 10%;
  border: none;
  padding: 12px 32px;
  text-align: center;
  right: 5%;
  width: 10%;
  height: inherit;
  box-sizing: border-box;
  border-radius: 40px;
  color: rgb(255, 255, 255);
  background-color: #393939;
  margin: 8px 0;

}

.create-offer-image {
display: inline;
margin-left: 2%;
margin-right: 2%;
width: 40%;
}




  .css-wmy1p7-ReactDropdownSelect{
   border-radius: 10px !important;
  }


  .css-1yc4zyy-DropdownHandleComponent svg{
    color: #ccc;
  }

  .index-inputbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .index-in-left{
    width: 45px;
    text-align: center;
  }

  .index-in-left img{
    width: 20px;
    height: 20px;
  }

  .index-in-right{
    width: calc(100% - 45px);
  }

  .uploadImgBox{
    display: flex;
    flex-wrap: wrap;
  }

  .image-upload{
    margin-right: 10px; 
    width: 80px;
    height: 80px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    line-height: 80px;
    text-align: center;}


  .image-upload span{font-size: 30px;color: #888;}
  .image-input{
    opacity: 0; width: 70px; height: 70px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);
  }
  .textInput,.textInput1{border: none; border-bottom:1px solid #ccc ;padding: 20px 5px;padding-bottom: 5px; width: 100%;outline: none;}
  .textInput1{width: 48%;}
  .textInput-textarea{outline: none;width: 100%;border: 1px solid #ccc;height: 250px;margin-top: 12px; padding: 5px;border-radius: 10px;}
.submitCreate{margin-top: 20px;  font-size: 16px; color: #fff; width: 100%;height: 45px;border-radius: 40px;background-color: rgba(0, 0, 0, 0.6);text-align: center;line-height: 45px;}
.uploadImgBox1 {justify-content: space-between;}
.uploadImgBox1>div{width: 50%;}
.uploadImgBox  .css-wmy1p7-ReactDropdownSelect{
  /* border-radius: 10px !important; */
  width: 100% !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #ccc !important;
  padding: 20px 5px !important;padding-bottom: 5px !important;outline: none;
 }



