/* The styles to all pages */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  
}

body {
  background-color: #f1f2f8
}

@font-face {
  font-family: poppinsBlack;
  src: url(./res/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: poppinsLight;
  src: url(./res/Poppins/Poppins-Light.ttf);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 150pt;
  
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  position: fixed;
  left: 0;
  right:0;
  bottom: 0;
  width: 100%;
}

.site-title {
  font-size: 1.5rem;
  font-family: poppinsBlack;
}

.navBarLink {
  font-family: poppinsLight;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

.listItem {
  border:1px solid #777;
  border-radius: 2%;
}

.noLink {
  text-decoration: none;
  color: #484543;
}

.itemName {
  font-family: poppinsBlack;
}
.itemInfoLine {
  font-family: poppinsLight;
}

.itemInfo {
  margin-left: 6%;
}

.userFormLine {
  font-family: poppinsLight;
  margin-right: 5%;
}

.pageTitle {
  font-family: poppinsBlack;
}

.message-list-container {
  margin-bottom: 16px;
  flex: 1;
}

.message-list {
  list-style-type: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message {
  max-width: 70%;
  padding: 8px 16px;
  margin-bottom: 8px;
  background: #EEEEEE;
  border-radius: 20px;
  text-align: left;
  -webkit-text-fill-color: #393939;
  
}

.own-message {
  background: #393939;
  align-self: flex-end;
  text-align: right;
  -webkit-text-fill-color: white;
}


.message-input-container {
  display: flex;
  gap: 4px;
}

.message-input{
  position: fixed;
  display: flex;
  bottom: 10%;
  width: 80%;
  flex:2;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 40px;
}

.send-message{
  position: fixed;
  display: flex;
  bottom: 10%;
  right: 2%;
  width: 10%;
  height: inherit;
  box-sizing: border-box;
  border-radius: 40px;
  color: rgb(255, 255, 255);
  background-color: aqua;
}

.heading{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
}
